{% extends "base.html" %}
{% block title %} More Details Article {% endblock %}
{% block header %}{% endblock %}


{% block content %}
<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Article Details</h1>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</header>
<!-- end of ex-header -->
<!-- end of header -->










<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 rounded-5">
                <img class="img-fluid mt-5 mb-3" src="{{url_for('static', filename='images/article.jpg')}}" alt="alternative">
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-basic-1 -->
<!-- end of basic -->


<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p>This <strong>Smart Parking System using computer Vision</strong> revolves around the development of a Smart Parking System powered by computer vision technology and machine
                learning algorithms. By leveraging tools like OpenCV, YOLO (You Only Look Once), and PyTorch, our system aims to
                revolutionize the parking experience. Through real-time monitoring and analysis of parking spaces, drivers will have
                access to accurate information about parking availability, enabling them to locate and book slots remotely via a mobile
                web-based application. This innovative solution not only enhances convenience for drivers but also contributes to
                reducing congestion and improving overall traffic flow in urban areas. Our website serves as the central hub for
                accessing information about the Smart Parking System, providing details on its features, benefits, and how users can
                leverage this technology to streamline their parking experience.</p>
                <p class="mb-5">At the core of our website is a user-friendly interface designed to provide seamless navigation and accessibility to all
                users. Visitors can explore comprehensive information about the Smart Parking System, including its functionalities,
                implementation process, and potential impact on urban mobility. Additionally, the website offers resources such as FAQs,
                user guides, and contact options to assist users in understanding and utilizing the system effectively. Through engaging
                content and interactive elements, we aim to educate and empower users to embrace the benefits of smart parking
                technology. Ultimately, our website serves as a gateway to a more efficient and sustainable approach to parking,
                facilitating positive changes in urban transportation infrastructure.</p>

                <h2 class="mb-3">Advantages of using this service</h2>
                <p>Working with our service offers a myriad of advantages tailored to meet your needs and exceed your expectations.
                Firstly, our platform prioritizes user-centricity, ensuring that every feature and functionality is designed to enhance
                your experience. From intuitive navigation to personalized recommendations, we strive to make your journey seamless and
                enjoyable. Additionally, our service is constantly evolving, with regular updates and improvements based on user
                feedback. This ensures that you have access to the latest tools and technologies, empowering you to stay ahead in your
                endeavors.</p>
                <p class="mb-4">Furthermore, collaborating with our service opens doors to a vibrant community of like-minded individuals. Whether
                you're a seasoned professional or just starting out, you'll find a supportive network ready to share insights,
                collaborate on projects, and celebrate successes together. Our platform fosters collaboration and knowledge-sharing,
                providing opportunities for growth and development. With access to valuable resources and expertise, you'll be equipped
                to tackle challenges head-on and achieve your goals with confidence. In essence, working with our service isn't just
                about accessing tools—it's about joining a dynamic ecosystem dedicated to your success.</p>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-basic-1 -->
<!-- end of basic -->


<!-- Cards -->
<div class="ex-cards-1 pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                                <span class="fa-stack-1x">1</span>
                            </span>
                            <div class="flex-grow-1">
                                <h5>High Quality Service</h5>
                                <p>Features include an eye catching morphtext in the header, details lightbox for more
                                    details information</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end of card -->
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                                <span class="fa-stack-1x">2</span>
                            </span>
                            <div class="flex-grow-1">
                                <h5>Prompt Timely Availability</h5>
                                <p>Statistics numbers for important values, card slider for testimonials, image slider
                                    for customer logos</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end of card -->
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                                <span class="fa-stack-1x">2</span>
                            </span>
                            <div class="flex-grow-1">
                                <h5>Skilled Team Involved</h5>
                                <p>Some useful extra pages are bundled with the template lik article details, terms
                                    conditions and privacy policy</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end of card -->
                <!-- end of card -->

            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-cards-1 -->
<!-- end of cards -->


<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h4>Project Overview</h4>
                <p>Smart Parking System using computer vision aims to revolutionize parking management by utilizing advanced technologies
                such as machine learning algorithms, computer vision, and technologies like OpenCV, YOLO (You Only Look Once), and
                PyTorch which is an open-source framework used to build a deep learning model. The system offers real-time solutions for
                efficient parking space management by continuously monitoring parking areas and accurately detecting and analyzing the
                availability of parking spots. Drivers can access this information remotely through a user-friendly mobile web-based
                application, which facilitates informed decision-making even before arriving at the parking location. Additionally, the
                system offers a booking feature that allows drivers to reserve parking slots in which they are empty slots exist in
                parking in advance, providing an extra layer of convenience. This holistic approach to parking management not only
                enhances individual user experience but also contributes to reducing traffic congestion by helping drivers navigate to
                available parking spaces more efficiently. The project's goal is to introduce a seamlessly integrated, technology-driven
                solution that improves overall parking convenience, streamlines traffic flow and sets a new standard for modern parking
                management systems.</p>
                <p class="mb-5">We trained a machine learning model, that includes YOLO(You Only Look Once), and OpenCV, and checked accuracy based on
                every algorithm after achieving better accuracy and based on that model it will detect the vehicle, Objects, Or even the
                empty slots in parking areas. the dataset on which we will train our model will include certain factors i.e. (Images of
                parking lots, Annotations, weather conditions, Vehicle model information, Time of day, and different resolutions of
                images). It will make it possible for us to detect objects and get some more accuracy for detection.</p>
                <div class="text-box mb-5">
                    <h4>Project Motivations</h4>
                    <p>The motivation for this project stems from the growing need for efficient parking solutions in urban and densely
                    populated areas. A Smart Parking System using computer vision can alleviate parking congestion, reduce environmental
                    impact, and enhance the overall driving experience. This project aims to leverage cutting-edge machine-learning
                    techniques to tackle this pervasive issue.</p>
                    <h4>Vision</h4>
                    <p>To empower individuals with a web-based and user-friendly website, transforming the parking experience and fostering a
                    sense of convenience and well-being in urban communities.</p>
                </div>
                <!-- end of text-box -->
                <p class="mb-4">The proposed <strong>project's primary objectives</strong> are as follows:</p>
                <ul class="list-unstyled li-space-lg mb-5">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1"> To Develop a sophisticated system utilizing OpenCV and YOLO for the real-time detection of unoccupied parking slots
                        within a designated facility.</div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1"></strong> To Implement advanced algorithms to accurately detect and identify license plates and objects, contributing to
                        comprehensive parking management.</div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1"> To Establish a dynamic information display at the parking entry points, providing drivers with up-to-the-minute
                        real-time availability information.</div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1"> To Institute an automated update mechanism for the mobile web-based application, ensuring drivers consistently access
                        the latest and most accurate parking information.</div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">To Enable drivers to conveniently reserve empty parking slots remotely through the web-based application, enhancing user
                        convenience and parking planning.</div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">To Implement a secure database system for the confidential storage of driver information, ensuring compliance with data
                        protection regulations and safeguarding privacy.</div>
                    </li>
                </ul>

                <a class="btn-solid-reg mb-5" href="{{url_for('index')}}">Home</a>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-basic-1 -->
<!-- end of basic -->



{% endblock %}
